@if (isLoading ) {
<div class="spinner-container">
  <div class="spinner"></div>
</div>
} @if (isDelayed && productsList != []) {
<div class="delay-warning flex justify-center">
  <p>
    Nuestros sistemas estan lentos o caidos. lamentamos el inconveniente,
    intente ir a otra categoria
  </p>
</div>

<!-- @if(!isLoading && productsList.length > 0) -->
} @if( productsList != []){
<div class="w-5/6 flex flex-wrap justify-center mx-auto gap-8">
  <app-card-products
    class="fade-in md:w-30"
    *ngFor="let product of productsList"
    [product]="product"
    (textTruncated)="onChangeTruncated($event)"
    [deleteButton]="deleteButton"
    (eventDelet)="deletProduct($event)"
  ></app-card-products>
</div>

<div class="flex justify-center mb-4 mt-4">
  @if (totalPages != 0) { @for ( item of paginacion; track totalPages) {
  <button
    [ngClass]="{ 'bg-slate-300 ': item === paginate + 1 }"
    class="relative glass inline-flex items-center px-4 py-2 text-sm font-semibold m-1"
    (click)="cambiarPagina(item - 1)"
  >
    {{ item }}
  </button>
  } }
</div>
} @if (!isLoading && productsList.length ===0) {
<div>
  <span class="text-green-400 text-lg flex justify-center w-8/12"
    >Actualmente no hay productos en esta categoría. Lamentamos las molestias.
    Si tiene alguna sugerencia, solicitud o petición para un nuevo producto, no
    dude en contactarnos. Estaremos encantados de atenderle. Escríbanos a
    nuestro WhatsApp:
    <button><a href="https://wa.me/+543764172282?"></a></button>
  </span>
</div>
}

<app-alert
  [AlertStatus]="AlertStatus"
  [buttonText]="buttonText"
  [mensaje]="mensaje"
  [typeAlert]="typeAlert"
  [url]="url"
  (cleanForm)="cleanForm()"
></app-alert>
