.item {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
}

.whitespace-normal {
  white-space: normal;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: whitesmoke;
}

.bg {
  background-color: black;
  border-radius: 5%;
  margin: 20px;
}

.img-card {
  width: 350px;
  height: 350px;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1); /* Estado inicial */
}

/* Efectos al pasar el mouse */
.card:hover {
  transform: scale(1.05); /* Escala ligeramente */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
  z-index: 10; /* Elevar el elemento visualmente */
}

.no-router-link {
  pointer-events: none;
  z-index: 2;
}

.w21 {
  width: 21rem;
}
