<div class="glass card" [routerLink]="['/product', product?.nombre]">
  <div class="rounded-xl glass items-center">
    <div class="flex">
      <div class="rounded-xl bg flex justify-center items-center">
        @if(product && product.imagenes && product.imagenes.length > 0){
        <img
          [src]="product.imagenes[product.imagenes.length - 1]"
          alt="card-image"
          class="object-scale-down md:w-96"
        />
        }@else {
        <img
          src="../../../assets/img/Noctura.jpg"
          alt="card-image"
          class="object-contain center mx-auto my-auto"
        />
        }
      </div>
    </div>

    <div class="px-6 pb-6 pt-2">
      <div class="flex items-center justify-between mb-2">
        <p class="truncate w-40 md:w-64">
          {{ product?.nombre }}
        </p>
        <p
          class="block font-sans text-base antialiased font-medium leading-relaxed product-price"
        >
          ${{ product?.precio }}
        </p>
      </div>

      <div class="max-w-72">
        <span
          class="font-sans text-sm antialiased font-normal opacity-75 whitespace-pre-wrap"
        >
          {{ limitarCaracteres(product!.descripcion, 80) }}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-around">
  @if (deleteButton == true) {
  <button class="text-white" (click)="sendData()">Eliminar</button>
  <button class="text-white" [routerLink]="['/UpdateProduct', product?.nombre]">
    Modificar
  </button>
  }
</div>
