/* Superposición oscura que cubre toda la pantalla */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilo del modal */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px; /* Tamaño del modal */
  max-width: 90%; /* Ajuste para pantallas más pequeñas */
}

.hidden {
  display: none; /* Oculta el div */
}
