<div class="w-full bg-grey-500">
  <div class="container mx-auto py-8">
    <div class="w-96 mx-auto bg-white rounded shadow">
      <div
        class="mx-16 py-4 px-8 text-black text-xl font-bold border-b border-grey-500"
      >
        Add Product
      </div>

      <div class="py-4 px-8">
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Nombre</label
          >
          <input
            [(ngModel)]="product.nombre"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Peso</label
          >
          <input
            [(ngModel)]="peso"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Tiempo</label
          >
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Horas</label
          >
          <input
            [(ngModel)]="horas"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />

          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Minutos</label
          >
          <input
            [(ngModel)]="minutos"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >descripcion</label
          >
          <input
            [(ngModel)]="product.descripcion"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >colores</label
          >

          <div class="flex justify-start">
            <button
              (click)="agregarColor()"
              class="text-green-500 bg-transparent border border-solid border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
            >
              +
            </button>
            <input
              [(ngModel)]="color"
              class="border rounded w-full py-2 px-3 text-grey-darker"
            />
          </div>

          <div>
            @for (item of colores; track $index) {
            <button class="ml-2" (click)="quitarColor($index)">
              {{ item }}
            </button>
            }
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Categoria</label
          >
          <select [(ngModel)]="categoria">
            <option *ngFor="let cat of categorias || []" [value]="cat.nombre">
              {{ cat.nombre }}
            </option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Imagen</label
          >
          <input
            #InputImage
            name="image"
            type="file"
            accept="image/png, image/jpeg"
          />

          <button (click)="guardarImagen(InputImage)">Aplicar</button>

          <!-- <img [src]="imageBase64" alt="Imagen convertida a WebP" /> -->

          <!-- @for (item of imagenes; track $index) {
          <img [src]="item" alt="Imagen convertida a WebP" />
          } -->
          <div *ngFor="let item of imagenes; let i = index">
            <img
              (click)="eliminarImagen(i)"
              [src]="item"
              alt="Imagen convertida a WebP"
            />
          </div>
        </div>

        <div class="mb-4">
          <button
            (click)="addProduct()"
            class="mb-2 mx-16 rounded-full py-1 px-24 bg-gradient-to-r from-green-400 to-blue-500"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
