<div class="w-full bg-grey-500">
  <div class="container mx-auto py-8">
    <div class="w-96 mx-auto bg-white rounded shadow">
      <div
        class="mx-16 py-4 px-8 text-black text-xl font-bold border-b border-grey-500"
      >
        Add Product
      </div>

      <div class="py-4 px-8">
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Nombre</label
          >
          <input
            [(ngModel)]="dataForm.nombre"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Peso</label
          >
          <input
            [(ngModel)]="dataForm.peso"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Tiempo</label
          >
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Horas</label
          >
          <input
            [(ngModel)]="dataForm.horas"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />

          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Minutos</label
          >
          <input
            [(ngModel)]="dataForm.minutos"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />

          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Precio Fijo
            <p class="text-gray-400 text-sm">
              si lo dejas en 0 se calculara por peso
            </p></label
          >
          <input
            [(ngModel)]="dataForm.precio"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          />
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >descripcion</label
          >
          <!-- HACER QUE ESTE INPUT SEA TIPO ( NO RECUERDO - MAS GRANDE) -->
          <textarea
            [(ngModel)]="dataForm.descripcion"
            class="border rounded w-full py-2 px-3 text-grey-darker"
          ></textarea>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Altura</label
          >
          <div class="flex">
            <input
              [(ngModel)]="dataForm.alto"
              class="border rounded w-3/4 py-2 px-3 text-grey-darker"
            />

            <select
              class="border rounded py-2 px-3 text-grey-darker"
              [(ngModel)]="medidaAlto"
            >
              <option selected>mm</option>
              <option>cm</option>
            </select>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >ancho</label
          >
          <div class="flex">
            <input
              [(ngModel)]="dataForm.ancho"
              class="border rounded py-2 px-3 text-grey-darker w-3/4"
            />
            <div class="flex">
              <select
                class="border rounded py-2 px-3 text-grey-darker"
                [(ngModel)]="medidaAncho"
              >
                <option selected>mm</option>
                <option>cm</option>
              </select>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >grosor</label
          >
          <div class="flex">
            <input
              [(ngModel)]="dataForm.grosor"
              class="border rounded py-2 px-3 text-grey-darker w-3/4"
            />
            <select
              class="border rounded py-2 px-3 text-grey-darker"
              [(ngModel)]="medidaGrosor"
            >
              <option selected>mm</option>
              <option>cm</option>
            </select>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Material</label
          >

          <select
            class="border rounded py-2 px-3 text-grey-darker w-full"
            [(ngModel)]="dataForm.material"
          >
            <option selected>Plastico</option>
          </select>
        </div>

        <!-- ------------------------ -->
        <label class="block text-grey-darker text-sm font-bold mb-2"
          >Multiplicador Adicionales - imanes y cadenas</label
        >
        <input
          [(ngModel)]="dataForm.multiplicador"
          class="border rounded w-full py-2 px-3 text-grey-darker"
        />

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Colores</label
          >

          <div class="mb-4">
            <button
              (click)="agregarColor()"
              class="text-green-500 bg-transparent border border-solid border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
            >
              +
            </button>
            <select [(ngModel)]="color">
              <option>seleccione un color</option>
              <option *ngFor="let cat of colores">
                {{ cat.color }}
              </option>
            </select>
          </div>

          <div>
            @for (item of coloresDisponibles; track $index) {
            <button class="ml-2" (click)="quitarColor($index)">
              {{ item }}
            </button>
            }
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Categoria</label
          >
          <select [(ngModel)]="categoria">
            <option *ngFor="let cat of categorias || []" [value]="cat.nombre">
              {{ cat.nombre }}
            </option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2"
            >Imagen</label
          >
          <input
            #InputImage
            name="image"
            type="file"
            accept="image/png, image/jpeg"
          />

          <button (click)="guardarImagen(InputImage)">Aplicar</button>

          <div *ngFor="let item of imagenes; let i = index">
            <img
              (click)="eliminarImagen(i)"
              [src]="item"
              alt="Imagen convertida a WebP"
            />
          </div>
        </div>

        <div class="mb-4">
          <button
            (click)="sendDataForm()"
            class="mb-2 mx-16 rounded-full py-1 px-24 bg-gradient-to-r from-green-400 to-blue-500"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
