<!-- <div>
  <input
    type="text"
    (keydown)="onKeyPress($event)"
    [(ngModel)]="data"
    name="data"
    placeholder="Buscar..."
  />
  <button class="text-white" (click)="buscar()">Buscar</button>
</div> -->

<div class="flex items-center justify-center">
  <div class="flex items-center max-w-md mx-auto bg-white rounded-lg">
    <div class="w-full">
      <input
        type="search"
        (keydown)="onKeyPress($event)"
        [(ngModel)]="data"
        name="data"
        placeholder="Buscar..."
        class="w-full px-4 py-1 text-gray-800 rounded-full focus:outline-none"
        x-model="search"
      />
    </div>
    <div>
      <button
        (click)="buscar()"
        class="flex items-center bg-green-500 justify-center w-8 h-8 text-white rounded-r-lg hover:bg-green-700"
      >
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
