<div class="flex justify-center">
  <div class="flex flex-col w-8/12 justify-center items-center glass mt-5">
    <div class="mb-4">
      <h1
        class="block text-grey-darker text-xl text-center font-bold mb-2 text-green-400"
      >
        Color
      </h1>
      <select
        [(ngModel)]="selectedFilament"
        class="border rounded py-2 px-3 w-full"
      >
        <option *ngFor="let fil of filaments" [ngValue]="fil">
          {{ fil.color }}
        </option>
      </select>
    </div>

    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2 text-green-400"
        >Disponibilidad</label
      >
      <input
        type="checkbox"
        name="Disponibilidad"
        [(ngModel)]="selectedFilament.disponibilidad"
        id=""
      />
    </div>
    <button
      class="text-green-400 border m-4 p-2 glass"
      (click)="updateFilament()"
    >
      Actualizar
    </button>
  </div>
</div>

<app-alert
  [AlertStatus]="AlertStatus"
  [buttonText]="buttonText"
  [mensaje]="mensaje"
  [typeAlert]="typeAlert"
  [url]="url"
  (cleanForm)="cleanForm()"
></app-alert>
